.container {
  border-radius: 4px;
  overflow: hidden;
  width: 1000px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #fff;

  display: flex;
}